$titleFont: 'Open Sans', sans-serif;
$Font1: 'Source Sans Pro', sans-serif;
$Font2: 'Oxygen', sans-serif;



@media (max-width: 450px) {

    /* Navigation Bar */

    .topnav{
        display: block;
        background-color: white;
        padding-top: 4%;
        padding-bottom: 3%;
        padding-left: 5%;
    }

    .topnav i{
        color: black;
        text-decoration:none;
    }

    .topnavresponsive i{
        color: #5ea1a9;
        text-decoration:none;
    }

    .navigation {
        margin-top: 13%;
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 0;
        top: 0;
        left: 0;
        padding-top: 20px;
        background-color: white;
    }

    img.weblogo{
        display:none;
    }

    img.mobilelogo {
        display: block;
        margin: auto;
        width: 60%;
        margin-bottom: 7%;
    }
    .mobileNavLeft {
        float: left;
        width: 13%;
    }

    .mobileNavCenter {
        display: inline-block;
        margin: 0 auto;
        width: 87%;
    }

    #navLogo {
        width: 45%;
        height: auto;
        display: block;
        margin-left: 14%;
    }


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .navItems a {
        text-align: center;
        font-variant: small-caps;
        font-family: "Source Sans Pro", sans-serif;
        color: black;
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 2px;
        display: block;
        text-decoration: none;
        margin: 0 auto;
        padding-bottom: 4%;
    }

    #navIcons{
        padding-left: 35%;
    }

    i {
        padding-right: 5px;
    }

    #navContact {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 11px;
        text-align: center;
        color: black;
        text-decoration: none;
        margin: 0 auto;
    }

    #navContact a {
        color: black;
        padding-bottom: 50px;
    }

    li a:hover, #navContact a:hover {
        color: #5ea1a9;
        text-decoration: none;
    }

    #navIcons i {
        color: black;
        font-size: 250%;
    }

    #navIcons i:hover {
        color: #5ea1a9;
    }

    /*Images for Illustration and Design pages*/

    .illustration-grid-container, .design-grid-container {
        display: none;
    }

    .mobileIllustration, mobileDesign{
        display:block;
    }

    .mobileImage, #aboutImage, .contentImage {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        height: auto;
        margin-bottom: 5%;
    }

    /*About page*/

    #resumeDownload{
        display:none;
    }

    .aboutTitle{
        text-align: center;
        margin-top:0;
        margin-bottom: 3%;
        font-family: $Font1;
        font-weight: 600;
        letter-spacing: 1%;
    }

    .aboutDescription {
        display: block;
        margin-top: 0;
        font-family: $Font1;
    }

    #aboutDescription{
        margin-left: 5%;
        margin-right: 5%;

    }

    /*Content Pages*/

    .contentPage h2 {
        font-family: $Font1;
        font-weight: 600;
        margin-bottom: 5%;
        letter-spacing: 2px;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    .contentText{
        margin: 2% 5%;
    }

    #issuu {
        margin-bottom: 7%;
    }
}


