
@{
    ViewBag.Title = "St. Louis Bubble Tea Rebrand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}

<div class="page">
    <div class="contentPage">
        <h2>St. Louis Bubble Tea Rebrand</h2>'
        <p class="contentText">A rebranding opportunity for St. Louis Bubble Tea located on the famous Delmar Loop, St. Louis. In this Branding and Identity course, I practiced the seven-phase process for creating and implementing effective brand identity. From estimating and scheduling, research, design development through design application, I learned the essence of successfully developing a brand.</p>
        <p class="contentText">My rebranding focused on the four fundamental qualities of the store: authenticity, customization, innovation, and hospitality. The logo design highlights the essence of the store--- Customization. The tagline “TEAse your taste buds” reinforces the innovative drink selections while maintaining the liveliness and friendliness of the store. The mockups consistently portray these core values in the store’s branding.</p>
        <p class="contentText">Current logo:</p>
        <img class="contentImage" src="~/Images/Design/Boba/Current Logo.jpg" />
        <p class="contentText">Final proposal:</p>
        <img class="contentImage" src="~/Images/Design/Boba/static1.squarespace.jpg" />
        <img class="contentImage" src="~/Images/Design/Boba/static1.squarespace-1.jpg" />
        <img class="contentImage" src="~/Images/Design/Boba/static1.squarespace-2.jpg" />
        <img class="contentImage" src="~/Images/Design/Boba/static1.squarespace-3.jpg" />
        <img class="contentImage" src="~/Images/Design/Boba/static1.squarespace-4.jpg" />
        <img class="contentImage" src="~/Images/Design/Boba/static1.squarespace-5.jpg" />
        <img class="contentImage" src="~/Images/Design/Boba/static1.squarespace-6.jpg" />

    </div>
</div>

