
@{
    ViewBag.Title = "St. Louis Bubble Tea Rebrand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}

<div class="page">
    <div class="contentPage">
        <div class="contentHMH">
            <img class="contentImage" src="~/Images/Design/HMHBooks/ClosedForTheSeason.jpg" />

            <p class="contentTextHMHTitle">CLOSED FOR THE SEASON</p>
            <p class="contentTextHMH">Clarion Books</p>
            <br>
            <p class="contentTextHMH" style="font-style:italic;">Cover design, title lettering</p>
            <p class="contentTextHMH" style="font-style:italic;">Photo illustration by David Field / Caterpillar Media</p>
            <p class="contentTextHMH" style="font-style:italic;">Horse &copy; Trevor Payne / Arcangel</p>
        </div>
    </div>
</div>

