
@{
    ViewBag.Title = "College Profile Brochure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}

<div class="page">
    <div class="contentPage">
        <h2>College Profile Brochure</h2>
        <p class="contentText">Created an informative brochure for Annie Wright Schools to send out to all colleges throughout US. Helped with organizing information,  illustrating for the infographics, designing the layout, and production. </p>
        <img class="contentImage" src="~/Images/Design/College/MOCK UP.jpg" />
        <p class="contentText">See full project <a id="aboutEmail" href="https://issuu.com/kaitlinyang/docs/aws_profile_brochure_v3">here</a></p>
    </div>
</div>

