
@{
    ViewBag.Title = "St. Louis Bubble Tea Rebrand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}

<div class="page">
    <div class="contentPage">
        <div class="contentHMH">
            <img class="contentImage" src="~/Images/Design/HMHBooks/GhostofCrutchfieldHall.jpg" />
            <p class="contentTextHMHTitle">THE GHOST OF CRUTCHFIELD HALL</p>
            <p class="contentTextHMH">Clarion Books</p>
            <p class="contentTextHMH" style="font-style:italic;">Cover design, title lettering</p>
            <br>
            <p class="contentTextHMH2" style="font-style:italic;">
                Cover photographs: Girl &copy; Kamil Vojnar / Trevillion Images; House &copy; Lee Avison / Trevillion Images; Sky &copy; Trevor Payne / Trevillion Images
            </p>
        </div>
    </div>
</div>

