
@{
    ViewBag.Title = "St. Louis Bubble Tea Rebrand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}

<div class="page">
    <div class="contentPage">
        <div class="contentHMH">
            <img class="contentImage" src="~/Images/Design/HMHBooks/LightsonWonderRock.jpg" />
            <p class="contentTextHMHTitle">LIGHTS ON WONDER ROCK</p>
            <p class="contentTextHMH">Clarion Books</p>
            <p class="contentTextHMH" style="font-style:italic;">Title lettering, design for US edition</p>
        </div>
        <br />
        <img class="contentImage" src="~/Images/Design/HMHBooks/LightsonWonderRockJacket.jpg" />
    </div>
</div>

