
@{
    ViewBag.Title = "The Magic House";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}

<div class="page">
    <div class="contentPage">
        <h2>The Magic House</h2>
        <p class="contentText">I created an activity workbook for children visiting the St. Louis Children’s Museum, the Magic House. After conducting several interviews onsite, I developed my concept based on solving the lack of interaction between children and the educational materials in each room. The collectable stickers give them the incentive to explore, learn, and complete questions and tasks with the help of their guardians. </p>
        <p class="contentText">The individual stickers prompt the children to visualize themselves in different roles and careers. The artwork is less realistic and more open to interpretation, which make it more accessible and understandable to the children. I also include different ethnicities and genders to broaden the user’s perspective on the world. The second part of the project serves as a memory documentation that the children and their parents can work on and look back together. </p>

        <img class="contentImage" src="~/Images/Design/MagicHouse/1.jpg" />
        <img class="contentImage" src="~/Images/Design/MagicHouse/2.jpg" />
        <img class="contentImage" src="~/Images/Design/MagicHouse/3.jpg" />
        <img class="contentImage" src="~/Images/Design/MagicHouse/4.jpg" />
        <img class="contentImage" src="~/Images/Design/MagicHouse/5.jpg" />
        <img class="contentImage" src="~/Images/Design/MagicHouse/6.jpg" />
        <img class="contentImage" src="~/Images/Design/MagicHouse/7.jpg" />
        <img class="contentImage" src="~/Images/Design/MagicHouse/8.jpg" />
        <img class="contentImage" src="~/Images/Design/MagicHouse/9.jpg" />
        <img class="contentImage" src="~/Images/Design/MagicHouse/10.jpg" />
        <img class="contentImage" src="~/Images/Design/MagicHouse/11.jpg" />
        <img class="contentImage" src="~/Images/Design/MagicHouse/magic house-final poster.jpg" />

        <p class="contentTetx">Process of the project development -</p>
        <div data-configid="27614648/56604720" style="width:100%; height:700px;" class="issuuembed"></div>

    </div>
</div>

<script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>