
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}

<div class="page">
    <div class="contentPage">
        <div class="contentHMH">
            <img class="contentImage" src="~/Images/Design/HMHBooks/MrComplain.jpg" />
            <p class="contentTextHMHTitle">MR. COMPLAIN TAKES THE TRAIN</p>
            <p class="contentTextHMH">Clarion Books</p>
            <p class="contentTextHMH" style="font-style:italic;">Art direction, title lettering, design</p>
        </div>

        <br />
        <img class="contentImage" src="~/Images/Design/HMHBooks/MrComplainJacket.jpg" />
    </div>

</div>

