
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}

<div class="page">
    <div class="contentPage">
        <div class="contentHMH">
            <img class="contentImage" src="~/Images/Design/HMHBooks/OfAFeather.jpg" />
            <p class="contentTextHMHTitle">OF A FEATHER</p>
            <p class="contentTextHMH">HMH Books for Young Readers</p>
            <p class="contentTextHMH" style="font-style:italic;"> Art direction, title lettering, design</p>
            <br>
            <p class="contentTextHMH2" style="font-style:italic;"> Illustration by Izzy Burton</p>
        </div>
    </div>
</div>

