
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}

<div class="page">
    <div class="contentPage">
        <div class="contentHMH">
            <img class="contentImage" src="~/Images/Design/HMHBooks/SherlockBones.jpg" />

            <p class="contentTextHMHTitle">SHERLOCK BONES</p>
            <p class="contentTextHMH">Etch</p>
            <p class="contentTextHMH" style="font-style:italic;"> Cover design for US edition</p>
            <br>
            <p class="contentTextHMH2" style="font-style:italic;"> Compiled from interior illustrations by Renee Treml</p>
        </div>
    </div>
</div>

