
@{
    ViewBag.Title = "Basketball+Animal Series";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}

<div class="page">
    <div class="contentPage">
        <h2>Basketball + Animal Series</h2>
        <img class="contentImage" src="~/Images/Illustration/Basketball Animal Series/inktober1.jpg" />
        <div class="row">
            <div class="bballcolumn">
                <img class="contentImage" src="~/Images/Illustration/Basketball Animal Series/intktober1closeup.jpg" />
            </div>
            <div class="bballcolumn">
                <img class="contentImage" src="~/Images/Illustration/Basketball Animal Series/inktober1 closeup2.jpg" />
            </div>
            <div class="bballcolumn">
                <img class="contentImage" src="~/Images/Illustration/Basketball Animal Series/inktober1 closeup3.jpg" />
            </div>
        </div>
        <img class="contentImage" src="~/Images/Illustration/Basketball Animal Series/bear3.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Basketball Animal Series/hippo final.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Basketball Animal Series/lion.jpg" />
        <div class="row">
            <div class="column">
                <img class="contentImage" src="~/Images/Illustration/Basketball Animal Series/bird2.jpg" />
            </div>
            <div class="column">
                <img class="contentImage" src="~/Images/Illustration/Basketball Animal Series/giraffe bball.jpg" />
            </div>
        </div>
    </div>
</div>


