
@{
    ViewBag.Title = "Portrait";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}

<div class="page">
    <div class="contentPage" id="portraitPage">
        <h2>Portraits</h2>
        <img class="contentImage" src="~/Images/Illustration/Portraits/mom present.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Portraits/dad present.jpg" />
    </div>
</div>


