
@{
    ViewBag.Title = "Honesty, Devotion, Benevolence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}

<div class="page">
    <div class="contentPage">
        <h2>Honesty, Devotion, Benevolence</h2>
        <p class="contentText">For my Senior Thesis, I created an illustrated children’s book with an educational purpose. The theme is similar to Aesop’s fables familiar to children in Western culture, however, I wanted to make this project personal and relevant to the culture and values I grew up with in Taiwan. The three stories each represent one of the main value systems in Confucianism, which are‬ benevolence, devotion, and honesty. I love these stories because they remind of my childhood and taught me fundamental moral values at a young age. They were crucial to my character development, and I am grateful to share them with children around the world.</p>
        <div class="row">
            <div class="column">
                <img class="contentImage" src="~/Images/Illustration/Capstone/1a.JPG" />
            </div>
            <div class="column">
                <img class="contentImage" src="~/Images/Illustration/Capstone/1b.JPG" />
            </div>
        </div>
        <img class="contentImage" src="~/Images/Illustration/Capstone/2.JPG" />
        <p class="contentText">Hand-bound final product - hard cover with perfect binding method</p>
        <img class="contentImage" src="~/Images/Illustration/Capstone/3.JPG" />
        <p class="contentText">Each story ends with a bilingual definition page divided by a hand-pressed red texture paper</p>
        <img class="contentImage" src="~/Images/Illustration/Capstone/4.jpg" />
        <p class="contentText">opening spread for the story "The Emperor's seeds"</p>
        <img class="contentImage" src="~/Images/Illustration/Capstone/5.jpg" />
        <p class="contentText">close up</p>
        <img class="contentImage" src="~/Images/Illustration/Capstone/6.jpg" />
        <p class="contentText">opening spread for the story "Ban Pin Shan"</p>
        <img class="contentImage" src="~/Images/Illustration/Capstone/7.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/8.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/9.jpg" />
        <p class="contentText">opening scene of the story "The Carp Cure"</p>
        <img class="contentImage" src="~/Images/Illustration/Capstone/10.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/11.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/12.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/13.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/14.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/15.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/16.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/17.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/18.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/19a.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/19b.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/20a.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/20b.jpeg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/21a.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/21b.jpeg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/22a.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/22b.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/23.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/23a.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/23b.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/24a.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/24b.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/25.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Capstone/26.jpg" />
        <p class="contentText">See full project <a id="aboutEmail" href="https://issuu.com/kaitlinyang/docs/capstone_final_d7f44304bde214">here</a></p>
    </div>
</div>