
@{
    ViewBag.Title = "IDEO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}

<div class="page">
    <div class="contentPage" id="ideoPage">
        <h2>EC Book Challenge</h2>
        <p class="contentText">
            Earlier this year, OpenIDEO and William Penn Foundation launched the #ECBookChallenge, an open call for children’s book manuscripts.
            I was thrilled to be a part of the challenge as a work for hire illustrator! I collaborated with author, Lesile Bockol, to bring the manuscript and idea alive.
            Over 500 manuscripts were submitted and the Top Manuscript has been announced. Check it out <a id="aboutEmail" href="https://ideo.to/ybJhVJ">here</a>.
        </p>
        <img class="contentImage" src="~/Images/Illustration/IDEO/IDEOCover.jpg" />
        <img class="contentImage" src="~/Images/Illustration/IDEO/IdeoPage2.jpg" />
        <img class="contentImage" src="~/Images/Illustration/IDEO.jpg" />
    </div>
</div>


