
@{
    ViewBag.Title = "LittleRedRidingHood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}


<div class="page">
    <div class="contentPage">
        <h2>Little Red Riding Hood</h2>
        <p class="contentText">Worked as a contractor for Gakko Inc, an educational technology start-up that thrives to create meaningful experiences for early learners. I illustrated and assisted with animating the classic story, Little Red Riding Hood, for an expansion of their existing smart phone and tablet app, Moji Moji. </p>
        <p class="contentText">Highlighted Spreads:</p>
        <div class="row">
            <div class="column">
                <img class="contentImage" src="~/Images/Illustration/Little Red Riding Hood/Scene 1.jpg" />
            </div>
            <div class="column">
                <img class="contentImage" src="~/Images/Illustration/Little Red Riding Hood/Scene 1(2).jpg" />
            </div>
        </div>
        <img class="contentImage" src="~/Images/Illustration/Little Red Riding Hood/scene 2.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Little Red Riding Hood/Scene 3.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Little Red Riding Hood/Scene 4.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Little Red Riding Hood/Scene 5.jpg" />
        <div class="row">
            <div class="column">
                <img class="contentImage" src="~/Images/Illustration/Little Red Riding Hood/Scene 7.jpg" />
            </div>
            <div class="column">
                <img class="contentImage" src="~/Images/Illustration/Little Red Riding Hood/Scene 7.1.jpg" />
            </div>
        </div>
        <img class="contentImage" src="~/Images/Illustration/Little Red Riding Hood/Scene 10 for portfolio.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Little Red Riding Hood/Scene 12-14.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Little Red Riding Hood/Scene 19.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Little Red Riding Hood/Scene 20.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Little Red Riding Hood/Scene 26.jpg" />

    </div>
</div>