
@{
    ViewBag.Title = "Christmas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}

<div class="page">
    <div class="contentPage">
        <h2>Starving Panda</h2>
        <p class="contentText"></p>
        <img class="contentImage" src="~/Images/Illustration/Starving Panda Illustration.jpg" />
    </div>
</div>