
@{
    ViewBag.Title = "Rap Battle Poster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}

<div class="page">
    <div class="contentPage" id="rapBattlePage">
        <h2>Autumn Moon Rap Battle Poster</h2>
        <p class="contentText">Commissioned to illustrate and design a promotional poster for an annual event <a id="rapLink" href="https://franklin.ucbtheatre.com/show/6398">“An Autumn Moon Rap Battle”</a> presented by Asian AF and Dopetown 3000. The poster was hung around town and event venue for the month of the event.  </p>
        <img class="contentImage" src="~/Images/Illustration/RapBattle/Poster V6.jpg" />
        <p class="contentText">Pitched 4 Initial Ideas/Skethces Below to Client For First Round Review</p>
        <img class="contentImage" src="~/Images/Illustration/RapBattle/Scan.jpeg" />
        <img class="contentImage" src="~/Images/Illustration/RapBattle/Scan 2.jpeg" />
        <img class="contentImage" src="~/Images/Illustration/RapBattle/Scan 4.jpeg" />
        <img class="contentImage" src="~/Images/Illustration/RapBattle/Scan 3.jpeg" />
        <p class="contentText">End up with one idea with simplification and clearer message:</p>
        <img class="contentImage" src="~/Images/Illustration/RapBattle/Scan 17.jpeg" />
        <p class="contentText">Inked Figures</p>
        <div class="row">
            <div class="column">
                <img class="contentImage" src="~/Images/Illustration/RapBattle/Scan 10.jpeg" />
            </div>
            <div class="column">
                <img class="contentImage" src="~/Images/Illustration/RapBattle/Scan 11.jpeg" />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img class="contentImage" src="~/Images/Illustration/RapBattle/Scan 12.jpeg" />
            </div>
            <div class="column">
                <img class="contentImage" src="~/Images/Illustration/RapBattle/Scan 9.jpeg" />
            </div>
        </div>
        <img class="contentImage" src="~/Images/Illustration/RapBattle/Poster_Mockup.jpg" />

    </div>
</div> 

