
@{
    ViewBag.Title = "Secret Santa Society";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}

<div class="page">
    <div class="contentPage">
        <h2>Secret Santa Society</h2>
        <p class="contentText">Worked as the illustrator for Michella Hatherill's picture book, "Secret Santa Society with Sonny and Ray", released in December 2018.</p>
        <img class="contentImage" src="~/Images/Illustration/SecretSantaSociety/1.Book.jpg" />
        <p class="contentText">Book Jacket:</p>
        <img class="contentImage" src="~/Images/Illustration/SecretSantaSociety/2.Book Jacket.jpg" />
        <p class="contentText">Inner Pattern Spread:</p>
        <img class="contentImage" src="~/Images/Illustration/SecretSantaSociety/3.Inner Pattern.jpg" />
        <p class="contentText">Highlighted Spreads:</p>
        <img class="contentImage" src="~/Images/Illustration/SecretSantaSociety/4.Highlighted Spread.jpg" />
        <img class="contentImage" src="~/Images/Illustration/SecretSantaSociety/5.Highlighted Spread.jpg" />
        <p class="contentText">Only highlighted spread in the book that reads vertically to enhance excitement for the big reveal!</p>
        <img class="contentImage" src="~/Images/Illustration/SecretSantaSociety/6.Highlighted Spread.jpg" />
        <img class="contentImage" src="~/Images/Illustration/SecretSantaSociety/7.Highlighted Spread.jpg" />
        <img class="contentImage" src="~/Images/Illustration/SecretSantaSociety/8.Highlighted Spread.jpg" />
        <img class="contentImage" src="~/Images/Illustration/SecretSantaSociety/9. Highlighted Spread.jpg" />
        <img class="contentImage" src="~/Images/Illustration/SecretSantaSociety/10.Highlighted Spread.jpg" />
        <img class="contentImage" src="~/Images/Illustration/SecretSantaSociety/11.Highlighted Spread.jpg" />

    </div>
</div>
