
@{
    ViewBag.Title = "Long Distance Sucks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}

<div class="page">
    <div class="contentPage">
        <h2>Long Distance Sucks</h2>
        <p class="contentText">I produced and illustrated a zine on how to survive long distance relationships. Combining my own and friends’ personal experiences, I came up with a series of “hardships” and “solutions” to these issues. The left side of each spread presents a problem while the right side provides an insightful and creative solution. </p>
        <p class="contentText">The zine is illustrated with vibrant colors and whimsical characters and situations. I wanted to take long distance, a frustrating and often negative experience, and portray it in a positive manner that can bring hope and happiness to the readers. Hopefully, all the long distance survivors out there can draw inspiration and look at their relationships from a different perspective.</p>
        <div data-configid="27614648/56487981" style="width:100%; height:570px;" class="issuuembed"></div>
    </div>
</div>
