
@{
    ViewBag.Title = "Veggie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("~/Views/Home/NavPartial.cshtml");}

<div class="page">
    <div class="contentPage">
        <h2>Veggie Animals</h2>
        <p class="contentText"></p>
        <img class="contentImage" src="~/Images/Illustration/Veggie Animals/veggie animal 1.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Veggie Animals/veggie animal 2.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Veggie Animals/veggie animal 3.jpg" />
        <img class="contentImage" src="~/Images/Illustration/Veggie Animals/veggie animal 4.jpg" />
    </div>
</div>